@font-face {
    font-family: 'JackBrush';
    src: url(/assets/Fonte/Jackbrush.ttf) format('Truetype');
}

@font-face {
    font-family: 'BackInBlack';
    src: url(/assets/Fonte/Back\ to\ Black\ Demo.ttf);
}

:root{
    --page-background: linear-gradient(
        to bottom left,
        #ffffff,
        #ff7f7f,
        #b3e5fc
    );
}

body{
    width: 100%;
    height: auto;
    background:var(--page-background)
}

body::before{
    content: "";
    position: fixed;
    background-image: url(/assets/img/peterbackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: .7;
    transition: 2s ease-in-out;
}

#s-navpeter{
    margin-left: 1.5rem;
    position: absolute;
    cursor: pointer;
}

#s-navpeter .s-navpeter_item{
    width: 100%;
    height: 100;
    margin: 0;
    padding: .5rem 0;
    display: flex;
    justify-content: space-between;
    margin: 0 1.25rem;
    transition: 1s ease-in-out;
}

#s-navpeter .s-navpeter_item a{
    transition: 1s ease-in-out;
}

#s-navpeter .s-navpeter_item a:hover{
    transform: scale(1.2);
}

#s-navpeter #Home a{
    margin: 0 1.5rem;
}

.s-iconpeter img{
    width: 2.5rem;
    height: auto;
    padding: 0 2.5rem;
    transition: 1s ease-in-out;
}

#s-navpeter .s-iconpeter img:hover{
    transform: scale(1.1);
}

#s-main-content{
    margin: 0 16rem;
    position: relative;
}

#s-main-content .s-main-content-top img{
    width: 9rem;
    height: 100%;
    margin: -3rem 20rem;
}

#s-main-content .s-content-perfil{
    border: 1px solid #000000;
    margin: 8rem 0 ;
}

#s-main-content .s-content-perfil h4{
    font-size: 20px;
    text-align: center;
    margin: 1rem 2rem;
}

#s-main-content .s-content-perfil img{
    width: 15rem;
    height: auto;
    margin: 0rem 4rem 1.5rem 5rem;
    transition: 1s ease-in-out;
}

#s-main-content .s-content-perfil img:hover{
    transform: scale(1.2);
    opacity: .1;
}

#s-main-content .s-content-perfil p{
    margin: 1rem 10px 1rem;
}

.s-video {
    display: flex;
}

.s-video iframe{
    position: relative;
    width: 20rem;
    height: 15rem;
    margin: 0 0 3rem 10.6rem;
}

body#peter-hovered::before{
    background-image: url(/assets/img/spiderman_venom_antivenom.jpg);
    opacity: .87;
    transition: 1.5s ease-in-out;
}

body[id^='p'] .p-card:not(.p-card--hovered){
    opacity: 0;
}

.p-footer {
    position: absolute;
    width: 100%;
    height: auto;
    background: linear-gradient(
        to top left, 
        #000000 40%,
        #8b0000
    );
    opacity: .8;
}

.p-footer img{
    cursor: pointer;
    margin: 2rem 4rem 0 6rem;
    width: 15rem;
    height: auto;
    transition: 1s ease-in-out
}

.p-footer img:hover{
    transform: scale(1.1);
}

.p-footer #imgmd{
    width: 17rem;
    height: 23rem;
}

.p-footer #imgock {
    width: 17rem;
}

.p-footer h2 {
    margin: 1rem;
    font-family: 'BackInBlack';
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}
