@font-face {
    font-family: 'Distant_Stroke';
    src: url(../Fonte/Distant_Stroke.otf) format('OpenType');
}

@font-face {
    font-family: 'Nathalia';
    src: url(../Fonte/Nathalia.ttf) format('TrueType');
}

@font-face {
    font-family: 'Infinite_Stroke';
    src: url(../Fonte/Infinite_Stroke.otf) format('OpenType');
}

@font-face {
    font-family: 'Breathing';
    src: url(..//Fonte/Breathing.ttf) format('TrueType');
}

@font-face {
    font-family: 'JackBrush';
    src: url(../Fonte/Breathing.ttf) format('Truetype');
}

:root{
    --font-main: 'Infinite_Stroke';
    --page-background: linear-gradient(
        to top left,
        rgb(230, 119, 119),
        rgb(192, 143, 192), 
        rgba(43, 28, 28, 0)
    );
    --fontPeter: 'JackBrush';
    --fontMiles: 'Distant_Stroke';
    --fontGwen: 'Nathalia'
}

html,body{
    width: 100%;
    height: 100%;
    background: var(--page-background);
}

#player{
    opacity: 0;
    width: 50%;
    height: 2.5rem;
    transition: 1s ease-in-out;
}

#player:hover{
    opacity: .2;
}

body::before{
    content: "";
    position: fixed;
    background-image: url(../img/s-main.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: .95;
    transition: 2s ease-in-out;
}

#s-nav{
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    position: relative;
}

.s-nav_item{
    display: inline-block;
    margin: 0 1.25rem;
}

#s-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#s-icon .s-icon_item {
    display: none;
}

#s-icon .s-icon_item.active {
    display: block;
}

#s-icon .s-icon_item img {
    position: absolute;
    width: 2.5rem;
}

#s-char{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#s-char .s-char-image{
    margin-top: 2.5rem;
    width: 12.5rem;
    height: auto;
    border: 2px solid transparent;
    transition: transform 1s ease-in-out;
}

#s-char .s-char-image:hover{
    opacity: .2;
    transform: scale(1.1);
}

#s-char .s-title{
    margin: 1.5rem 0 1.5rem 0 ;
    text-align: center;
    transition: font-family 1s ease-in-out, font-size 1s ease-in-out, color 1s ease-in-out;
}

#s-char #spidermiles .s-title:hover{
    font-family: var(--fontMiles);
    font-size: 2.5rem;
    color: #ffff;
}

#s-char #spiderpeter .s-title:hover{
    font-family: var(--fontPeter);
    font-size: 1.5rem;
    color: #8a0707;
}

#s-char #spidergwen .s-title:hover{
    font-family: var(--fontGwen);
    font-size: 2rem;
    color: #800080;
}

body#spiderpeter-hovered::before{
    background-image: url(../img/peterback.jpg);
    opacity: 1;
    transition: 2s ease-in-out;
}

body#spidermiles-hovered::before{
    background-image: url(../img/milesbackmain.jpg);
    opacity: 1;
    transition: 2s ease-in-out;
}

body#spidergwen-hovered::before{
    background-image: url(../img/gwenback.jpg);
    opacity: 1;
    transition: 2s ease-in-out;
}

body[id^="spider"] .s-card:not(.s-card--hovered){
    opacity: 0;
}

.s-video{
    position: relative;
    margin: 1rem 20rem;
    opacity: 0;
}

.s-video:hover{
    opacity: 1;
    transition: 1s ease-in-out;
}

.s-footer{
    width: 100%;
    height: auto;
    position:absolute;
    background: linear-gradient(
        to top left,
        black,
        gray,
        white
    );
    opacity: .6;
    display: flex;
    flex-direction: row;
}

.s-footer h2{
    margin: 3rem;
    font-family: 'JackBrush';
}

.s-footer h3{
    margin: 3rem;
}

.s-footer h3 a{
    text-decoration: underline;
    cursor: pointer;
}

